<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Building Info App</title>
</head>
<body>
<h2>Building Info App</h2>

<a th:href="@{/api/building}">Go back to main page (clears current building)</a>

<p th:text="${message}">

</p>

<form th:if="${building == null}" action="#" th:action="@{/api/building/sample}" method="get">
    <p>You can use sample building
        <input type="submit" value="Use it!">
    </p>
</form>

<form th:if="${building == null}" action="#" th:action="@{/api/building/create}" method="get">
    <p>Create your own building
        <input type="submit" value="Let's make it!">
    </p>
</form>


<div th:if="${building != null}">
    <table>
        <tr>
            <th colspan="2">Building</th>
        </tr>
        <tr>
            <th>Index</th>
            <th>Name</th>
        </tr>
        <tr>
            <td th:text="${building.getId()}"></td>
            <td th:text="${building.getName()}"></td>
        </tr>
        <th:block th:each="level : ${building.getLevelList()}">
            <tr>
                <th></th>
                <th colspan="2">Level</th>
            </tr>
            <tr>
                <th></th>
                <th>Index</th>
                <th>Name</th>
            </tr>
            <tr>
                <td></td>
                <td th:text="${level.getId()}"></td>
                <td th:text="${level.getName()}"></td>
            </tr>
            <tr>
                <th colspan="2"></th>
                <th colspan="2">Room</th>
            </tr>
            <tr>
                <th colspan="2"></th>
                <th>Index</th>
                <th>Name</th>
                <th>Area</th>
                <th>Volume</th>
                <th>Heating</th>
                <th>Light Power</th>
            </tr>
            <tr th:each="room : ${level.getRoomList()}">
                <td colspan="2"></td>
                <td th:text="${room.getId()}"></td>
                <td th:text="${room.getName()}"></td>
                <td th:text="${room.getArea()}"></td>
                <td th:text="${room.getCube()}"></td>
                <td th:text="${room.getHeating()}"></td>
                <td th:text="${room.getLight()}"></td>
            </tr>
        </th:block>
    </table>
</div>
<div th:if="${building != null}">
    <br>
    <h4>Building Analyze</h4>
    <form action="#" th:action="@{/api/building/options/calculateArea}" method="get">
        <p>Calculate area of location with index <input type="text" name="newAreaId" th:value="${calcAreaId}">
            <input type="submit" value="Submit">
            <input th:if="${calcArea != null}" type="text" readonly th:value="${calcArea}">
        </p>
    </form>
    <form action="#" th:action="@{/api/building/options/calculateVolume}" method="get">
        <p>Calculate volume of location with index <input type="text" name="newVolumeId" th:value="${calcVolumeId}">
            <input type="submit" value="Submit">
            <input th:if="${calcVolume != null}" type="text" readonly th:value="${calcVolume}">
        </p>
    </form>
    <form action="#" th:action="@{/api/building/options/calculateHeating}" method="get">
        <p>Calculate heating power of location with index <input type="text" name="newHeatingId" th:value="${calcHeatingId}">
            <input type="submit" value="Submit">
            <input th:if="${calcHeating != null}" type="text" readonly th:value="${calcHeating}">
        </p>
    </form>
    <form action="#" th:action="@{/api/building/options/calculateLight}" method="get">
        <p>Calculate light power of location with index <input type="text" name="newLightId" th:value="${calcLightId}">
            <input type="submit" value="Submit">
            <input th:if="${calcLight != null}" type="text" readonly th:value="${calcLight}">
        </p>
    </form>
    <form action="#" th:action="@{/api/building/options/getOverheatingLocations}" method="get">
        <p>Find locations with heating power bigger than
            <input type="text" name="newHeatingPivot" th:value="${heatingPivot}">
            <input type="submit" value="Submit">
        </p>
    </form>
    <table th:if="${overheatedLocations != null}">
        <tr>
            <th colspan="3">Locations meeting the criteria</th>
        </tr>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Id</th>
        </tr>
        <tr th:each="location, stat : ${overheatedLocations}">
            <td th:text="${stat.count}"></td>
            <td th:text="${location.getName()}"></td>
            <td th:text="${location.getId()}"></td>
        </tr>
    </table>
    <p th:if="${messagePivot != null}" th:text="${messagePivot}"></p>
</div>
<br>
<table>
    <tr>
        <th colspan="3">Authors</th>
    </tr>
    <tr>
        <th rowspan="2">Miłosz <br> Karłowicz</th>
        <th rowspan="2">Zuzanna <br> Rękawek</th>
        <th rowspan="2">Adam <br> Wojciechowski</th>
    </tr>
</table>
<br>

</body>

</html>